<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/weather.png">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>about</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/me.jpg" alt="">
        <p>started learning node js few days ago. will end up learing MERN stack development if everything goes as i expect.</p>
    </div>
    {{>footer}}
</body>

</html>