<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/weather.png">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>help</title>
</head>

<body>
    <div class="main-content">

        {{>header}}
        <p>Provide a valid address in the search box to get the weather information. If the address does not match what you are looking for, try extensive address for that location.</p>
        
    </div>
    {{>footer}}
</body>

</html>